[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
social-analyzer = "*"
prettyprinter = "*"
requests = "*"
sqlalchemy = "*"
prettytable = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.9"
